# Shell stuff
alias aca="vim ~/.aliases && source ~/.bash_profile" # Add a custom alias and reload shell
alias apa="vim ~/.private-aliases && source ~/.bash_profile" # Add a private alias and reload shell
alias eb="vim ~/.bash_profile" # edit bash profile
alias sb="source ~/.bash_profile" # source bash profile

# Vagrant
alias vagrant="rvm use 1.9.3 && vagrant ${@}"
alias vssh="vagrant up && vagrant ssh"
alias vreload="vagrant reload && vagrant ssh"
alias vhalt="vagrant halt"

# Vim
alias ev="vim ~/.vimrc"

# Terminal stuff
alias tmux="TERM=screen-256color-bce tmux"

# tmux
alias tma="tmux attach -t $1"
alias tme="vim ~/.tmux.conf && echo 'Reloading tmux conf file...' && tmux source ~/.tmux.conf"
alias tkill="tmux kill-session -t $1"
alias tls="tmux ls"

# Ruby testing
alias st="clear && ruby -I test $1" # short-cut to run a single unit test. assumes you are in rails root.
#alias sc="clear && cucumber $1" # run a single cucumber test. assumes you are in rails root.

# Misc
#alias pbjsonpretty='pbpaste | python -mjson.tool | pygmentize -l javascript'

# Rails
alias rg="rails g $1"

# Git
alias gcm="git checkout master"
alias gcq="git checkout qa"
alias gpom="git push origin master"
alias gpoq="git push origin qa"
alias gup="git pull --rebase"
alias gb="git branch"
alias gst="git status"
alias gc="git commit -m $1"
alias gdt="git difftool $1"

alias pxml="curl \'$1\' | xmllint --format"

# Load my private aliases (SSH shortcuts, etc)
[[ -f "~/.private-aliases" ]] && source ~/.private-aliases

