echo "Loading .aliases"

# Shell stuff
alias aca="vim ~/.aliases && source ~/.bash_profile" # Add a custom alias and reload shell
alias apa="vim ~/.private-aliases && source ~/.bash_profile" # Add a private alias and reload shell
alias eb="vim ~/.bash_profile" # edit bash profile
alias sb="source ~/.bash_profile" # source bash profile
alias l="ls -ahlG"
alias foo="echo bar"

# Docker
alias dc="docker-compose ${@}"
alias dcrails="docker-compose run web rails ${@}"

# Vagrant
alias vagrant="vagrant ${@}"
alias vssh="vagrant up && vagrant ssh"
alias vreload="vagrant reload && vagrant ssh"
alias vhalt="vagrant halt"

# Terminal stuff
alias tmux="TERM=screen-256color-bce tmux"

# tmux
alias tma="tmux attach -t $1"
alias tme="vim ~/.tmux.conf && echo 'Reloading tmux conf file...' && tmux source ~/.tmux.conf"
alias tkill="tmux kill-session -t $1"
alias tls="tmux ls"

# Git
alias gb="git branch"
alias gst="git status"
alias gc="git commit -m $1"
alias gco="git checkout $1"
alias gcm="git checkout master"
alias gcd="git checkout develop"
alias gp="git push $1 $2"
alias gpom="git push origin master"

alias ngrok="/Applications/ngrok"

alias pxml="curl \'$1\' | xmllint --format"

# Load my private aliases (SSH shortcuts, etc)
source ~/.private-aliases

