# Shell stuff
alias aca="vim ~/.aliases && source ~/.bash_profile" # Add a custom alias and reload shell
alias apa="vim ~/.private-aliases && source ~/.bash_profile" # Add a private alias and reload shell
alias eb="vim ~/.bash_profile" # edit bash profile
alias sb="source ~/.bash_profile" # source bash profile

# Vagrant
alias vagrant="vagrant ${@}"
alias vssh="vagrant up && vagrant ssh"
alias vreload="vagrant reload && vagrant ssh"
alias vhalt="vagrant halt"

# Vim
alias ev="vim ~/.vimrc"

# Terminal stuff
alias tmux="TERM=screen-256color-bce tmux"

# tmux
alias tma="tmux attach -t $1"
alias tme="vim ~/.tmux.conf && echo 'Reloading tmux conf file...' && tmux source ~/.tmux.conf"
alias tkill="tmux kill-session -t $1"
alias tls="tmux ls"

# Ruby testing
alias st="clear && ruby -I test $1" # short-cut to run a single unit test. assumes you are in rails root.
#alias sc="clear && cucumber $1" # run a single cucumber test. assumes you are in rails root.

# Misc
#alias pbjsonpretty='pbpaste | python -mjson.tool | pygmentize -l javascript'

# Rails
alias rg="rails g $1"

# Git
alias gcm="git checkout master"
alias gcq="git checkout qa"
alias gpom="git push origin master"
alias gpoq="git push origin qa"
alias gup="git pull --rebase"
alias gb="git branch"
alias gst="git status"
alias gc="git commit -m $1"
alias gdt="git difftool $1"
alias gco="git checkout $1"

alias pxml="curl \'$1\' | xmllint --format"

alias wwid="history | tail -n 20"

# Load my private aliases (SSH shortcuts, etc)
[[ -f "~/.private-aliases" ]] && source ~/.private-aliases

# Torrents
alias ator="scp $@ jasonbucki@94.242.209.86:/home/hd1/jasonbucki/torrents/watch"
alias dtor="scp jasonbucki@94.242.209.86:/home/hd1/jasonbucki/torrents/completed/$1 ~/Downloads"

# Copies all Cucumber ".feature" files to another directory as text files
alias ccukes="ruby ~/bin/copy_cukes.rb"

# Project-specific notes
alias sc-note="vim ~/Documents/work/sullivan_cotter/$1"

#===============================================
# Raspberry Pi helpers (prepend all with "pi_")
#===============================================

# View IP address of Raspberry Pi (actually all IPs) on local network
alias pi_ip="ifconfig | grep broadcast"

# Change to project directories
alias cdep="cd /Users/jasonbucki/projects/work/energyprint"
alias vimep="cd /Users/jasonbucki/projects/work/energyprint && vim"
alias vsshep="cd /Users/jasonbucki/projects/work/energyprint && vssh"
