.CFUserTextEncoding
.Trash
.bash_history
.boot2docker
.config
.private-aliases
.rbenv
.rnd
.ssh
.subversion
.vagrant
.vagrant.d
.viminfo
.vim/swapfiles
Applications
Desktop
Documents
Downloads
Library
Movies
Music
Pictures
projects
Public
VirtualBox VMs
